@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply base styles to all elements */
@layer base {
  * {
    @apply p-0 m-0 box-border; /* Remove padding and margin, set box-sizing to border-box */
  }
}

/* Define the grid layout for the calculator container */
.container {
  grid-template:
    "clear clear division multiplication"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero point equal";
}

/* Define grid areas for each button */
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.point {
  grid-area: point;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.multiplication {
  grid-area: multiplication;
}
.division {
  grid-area: division;
}
.clear {
  grid-area: clear;
}
.equal {
  grid-area: equal;
}
