@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
}

.container {
  grid-template:
    "clear clear division mutliplication"
    "seven eight nine minos"
    "four five six plus"
    "one two three equal"
    "zero zero point equal";
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.point {
  grid-area: point;
}
.plus {
  grid-area: plus;
}
.minos {
  grid-area: minos;
}
.multiplication {
  grid-area: multiplication;
}
.division {
  grid-area: division;
}
.clear {
  grid-area: clear;
}
.equal {
  grid-area: equal;
}
